# Copy one of env files based on target environment
# Example: cp .env.dev .env.local
APP_ENV=dev
EXPO_PUBLIC_APP_NAME=Ping Dev
EXPO_PUBLIC_API_URL=https://api-dev.example.com
EXPO_PUBLIC_CHANNEL=dev
IOS_BUNDLE_IDENTIFIER=com.company.ping.dev
ANDROID_PACKAGE=com.company.ping.dev
